@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;0,14..32,600;0,14..32,700&display=swap');

body{
    background-color:  hsl(0, 0%, 8%);
    font-family: "inter" sans-serif;
}

.container{
    background-color:hsl(0, 0%, 12%);
    width: 350px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 110px;
}
img{
    border-radius: 200px;
    width: 100px;
    margin-top:40px ;
}
    
.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    margin: auto;
}
button{
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    font-weight: 800;
    transition: transform 0.2s ease ;  
    font-size: 14px;
}
.location{
    color:hsl(75, 94%, 57%);
    font-weight: 600;
}
h1,p,button{
    color: hsl(0, 0%, 100%);
}
h1{
    font-weight: 700;
}
button:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    transform: scale(1.05);
    text-decoration: underline;
    color: hsl(0, 0%, 12%);

}
button:active{
     transform:scale(0.95)
}
footer{
    color:white
}
a {
    text-decoration: blue;
}
p{
    font-size: 14px;
    font-weight: 400;
}